@charset "UTF-8";   
     
     .alert {
            position: fixed;
            bottom: 20px;
            right: 20px;
            padding: 15px;
            border-radius: 5px;
            display: none;
            z-index: 1000;
            color: #fff;
        }
        .alert.success {
            background-color: green;
        }
        .alert.error {
            background-color: red;
        }
